@import "tailwindcss";

@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/static/RedHatText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@theme {
  --font-redhat: "RedHatText", sans-serif;
}
